html {
  scroll-behavior: smooth;
}

#header{
    margin-top: 20px;
}

#logo-header{
  margin-top: -40px;
  margin-bottom: -50px;
  margin-left:10px;
  width: 70px;
  overflow: auto;
}

#resource-menu{
    background: white;
}

.Intro {
    display: flex; /* Make the intro container a flexbox for better layout */
    align-items: center; /* Align the content inside the intro container vertically */
    justify-content: space-between; /* Distribute the content horizontally with space in between */
    padding: 2rem; /* Add some padding inside the intro container */
    margin: 0;
    padding: 0;
    background: white;
    height: 548px;
  }
  
  .Intro h1 {
    font-size: 3rem; /* Set the font size for the heading */
    font-weight: 600;
    margin-right: 3rem;
  }
  
  .Intro p {
    font-size: 2rem; /* Set the font size for the paragraph */
    margin-right: 3rem;
    margin-bottom: 2rem; /* Add some margin below the paragraph */
  }
  
  .Intro img {
    width: 50%; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio of the image */
  }

#card-set-container{
  margin-top: 10vh;
  overflow-x: scroll; /* Use scroll to enable scrolling */
    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;
    overflow-x: auto;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

#card-set{
    display: flex;
    
    margin-top: 20px;
    width: 2000px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: white;
    gap: 20px;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

#whycode{
    background: white;
    padding: 2rem;
    padding-left: 4rem;
    margin-top: 20px;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

#inspire{
  height: 100vh;
}

#codeforge-button{
  display: inline-flex;
}


@media (max-width: 768px) {

  #whycode {
    padding: 1rem;
    padding-left: 1rem;
    margin-top: 10px;
  }



  #codeforge-button {
    width: 100%;
    justify-content: center;
    padding: 1rem;
  }
}
  